{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <select class="filter form-control" filter="category">
                    <option selected="selected" value="null">Sélectionnez une catégorie</option>
                    {% for cat in filters.categories %}
                        <option value="{{ cat }}">{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <select class="filter form-control" filter="brand">
                    <option selected="selected" value="null">Sélectionnez une marque</option>
                    {% for brand in filters.brands %}
                        <option value="{{ brand }}">{{ brand }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
    <div id="container">
        <table class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Description</th>
                <th>Image</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Promo</th>
                <th>Référence</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            {% if products is not empty%}
                {% for prod in products %}
                    <tr {% if prod.stock < 1 %} class="table-danger"{% endif %}>
                        <td >{{ prod.category }}</td>
                        <td>{{ prod.name }}</td>
                        <td>{{ prod.brand }}</td>
                        <td>{{ prod.description[:50] }}</td>
                        <td>
                            {% if prod.productImages is not empty %}
                                {% set image = prod.productImages.first() %}
                                <img src="{{ asset("uploads/images/")~image.url }}" style="width:100px">
                            {% else %}
                                <img src="{{ asset("image/no-image.jpg") }}" style="width:100px">
                            {% endif %}
                        </td>
                        <td>{{ prod.stock }}</td>
                        <td>{{ prod.price }}&nbsp;€</td>
                        <td>{{ prod.discountPrice }}&nbsp;€</td>
                        <td>{{ prod.reference }}</td>
                        <td>
                            <a href="{{ path('product_edit', {'id': prod.id}) }}" class="btn btn-primary" role="button" aria-pressed="true">modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Aucun produit trouvé</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('change', '.filter', function(){
            let filters  = $('.filter').attr('filter');
            let values = $('option:selected', '.filter').val();
            let data = {
                category:  $('.filter')[0]['selectedOptions'][0]['value'],
                brand: $('.filter')[1]['selectedOptions'][0]['value']
            };
            $.ajax({
                type: "POST",
                url: '{{ path('product_list') }}',
                data: data,
                success: function (data) {
                    let $container = $(data).find('#container');
                    $('#container').replaceWith($container);
                }
            })
        })
    </script>
{% endblock %}

